<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Latest</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript">
        // Reload if content is loaded from history
        if(performance.navigation.type === 2){
            location.reload();
        }
    </script>
</head>
<body>
<div class="header">Top 10 latest unrestricted codes</div>
<form method="get">
    <button id="return_home" type="submit" formaction="/">
        <span>Home Page</span>
    </button>
</form>
<br>
<br>
<div th:each="code : ${codes}">
    <span id="load_date" class="date" style="font-family: Source Code Pro, monospace">
        [[${code.getDate()}]]</span>
    <br>
    <pre id="code_snippet" class="code">
        <code id="code_text">[[${code.getCode()}]]</code>
    </pre>
    <br>
    <br>
</div>
</body>
</html>