<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <script type="text/javascript" th:src="@{/js/send.js}"></script>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <script type="text/javascript">
        // Reload if content is loaded from history
        if(performance.navigation.type === 2){
            location.reload();
        }
    </script>
</head>
<body>
<div class="header">Post your snippet here</div>
<form onsubmit="return false;">
    <label for="code_snippet">Snippet:</label>
    <br>
    <textarea id="code_snippet" cols="60" rows="10" placeholder="// write your code here"></textarea>
    <br>
    <br>
    <label for="time_restriction">Time restriction:</label>
    <br>
    <input id="time_restriction" type="text" style="box-shadow:
    1px 1px 1px #088F8F,
    1px -1px 1px #088F8F,
    -1px 1px 1px #088F8F,
    -1px -1px 1px #088F8F;
    outline: none; padding: 2px; border-radius: 2px; border: none"/>
    <br>
    <br>
    <label for="views_restriction">Views restriction:</label>
    <br>
    <input id="views_restriction" type="text" style="box-shadow:
    1px 1px 1px #088F8F,
    1px -1px 1px #088F8F,
    -1px 1px 1px #088F8F,
    -1px -1px 1px #088F8F;
    outline: none; padding: 2px; border-radius: 2px; border: none">
    <br>
    <br>
    <button id="send_snippet" th:onclick="send()">
        Submit
    </button>
    <br>
    <div id="code_info">
        <div id="code_uuid"></div>
        <a id="code_link" style="color: #088F8F"></a>
    </div>
</form>
<form>
    <br>
    <button id="return_home" formaction="/">
        <span>Home Page</span>
    </button>
</form>
</body>
</html>