<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <script type="text/javascript">
        // Reload if content is loaded from history
        if (String(performance.getEntriesByType("navigation")[0].type) === "back_forward") {
            location.reload();
        }
    </script>
</head>
<body>
<div class="header" style="text-align: center">
    <div>404 Not Found</div>
    <div class="subheading" style="font-size: 18px">Snippet has self-destructed/ No such snippet exists</div>
</div>
<form>
    <button id="return_home" formaction="/">
        <span>Home Page</span>
    </button>
</form>
</body>
</html>