<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Code</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
        ::selection {
            background: none;
        }
    </style>
    <script type="text/javascript" th:inline="javascript">
        // Reload if content is loaded from history
        if(performance.navigation.type === 2){
            location.reload();
        }

        /*<![CDATA[*/
        let codeId = /*[[${codeId}]]*/ 0;
        let codeCode = /*[[${codeCode}]]*/ "Default";
        let codeTime = /*[[${codeTime}]]*/ 0;
        let codeViews = /*[[${codeViews}]]*/ 0;
        /*]]>*/

        // Prevent context menu
        document.addEventListener('contextmenu', event => {
            event.preventDefault();
        });

        // Prevent keyboard shortcuts
        document.addEventListener('keydown', event => {
            if (event.ctrlKey) {
                event.preventDefault();
            }
        });

        document.addEventListener("DOMContentLoaded", startTime);

        function startTime() {
            let timeRem = document.getElementById("time");
            if (codeTime > 0) {
                setInterval(() => {
                    timeRem.innerHTML = codeTime.toString();
                    if (codeTime === 0)
                        location.reload();
                }, 1000);

                setInterval(() => {
                    execute();
                }, 1100)
            }
        }

        function execute() {
            let xhr = new XMLHttpRequest();

            let object = {
                "code": codeCode,
                "time": codeTime,
                "views": codeViews
            }

            if (codeTime > 0) {
                codeTime--;
                if (codeTime === 0) {
                    xhr.open("DELETE", "/api/code/delete/" + codeId, false);
                    xhr.send();
                } else {
                    let json = JSON.stringify(object);
                    xhr.open("PUT", "/api/code/update/" + codeId, false);
                    xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                    xhr.send(json);
                }
            }
        }
    </script>
</head>
<body>
<div class="header">~Secret Snippet~</div>
<div id="codeObject" th:value="${Code}" onmousedown="return false">
    <div class="date_restrictions_container">
        <div id="load_date" style="font-family: Source Code Pro, monospace">
            <u th:text="${Code.getDate()}"></u>
        </div>
        <div th:if="${Code.getViews()} ge 0 or ${Code.getTime()} gt 0">
            <div th:if="${Code.isRestrictedByViews()}">
            <span id="views_restriction spanView"
                  style="color: #FFFFFF;padding: 5px;font-family: Source Code Pro, monospace">
            <u>[[${Code.getViews()}]]</u> more views allowed
            </span>
            </div>

            <div th:if="${Code.isRestrictedByTime()}">
            <span id="time_restriction spanTime"
                  style="color: #FFFFFF;padding: 5px;font-family: Source Code Pro, monospace">
            The code will be available for <u id="time">[[${Code.getTime()}]]</u> seconds
            </span>
            </div>

        </div>
    </div>

    <div class="code_container">
        <pre id="code_snippet" class="code">
            <code id="code_text" th:text="${Code.getCode()}"></code>
        </pre>
    </div>

</div>
<br>
<form method="get">
    <button id="return_home" type="submit" formaction="/">
        <span>Home Page</span>
    </button>
</form>
</body>
</html>