<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Code</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
        ::selection {
            background: none;
        }
    </style>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let codeId = /*[[${codeId}]]*/ 0;
        let codeCode = /*[[${codeCode}]]*/ "Default";
        let codeTime = /*[[${codeTime}]]*/ 0;
        let codeViews = /*[[${codeViews}]]*/ 0;
        /*]]>*/

        // Prevent context menu
        document.addEventListener('contextmenu', event => {
            event.preventDefault();
        });

        // Prevent keyboard shortcuts
        document.addEventListener('keydown', event => {
            if (event.ctrlKey) {
                event.preventDefault();
            }
        });

        document.addEventListener("DOMContentLoaded", startTime);

        function startTime() {
            let timeRem = document.getElementById("time");
            if (codeTime > 0) {
                setInterval(() => {
                    timeRem.innerHTML = codeTime.toString();
                    execute();
                    if (codeTime === 0)
                        location.reload();
                }, 1000);
            }
        }

        function execute() {
            let xhr = new XMLHttpRequest();

            let object = {
                "code": codeCode,
                "time": codeTime,
                "views": codeViews
            }

            if (codeTime > 0) {
                codeTime--;
                if (codeTime === 0) {
                    xhr.open("DELETE", "/api/code/delete/" + codeId, false);
                    xhr.send();
                } else {
                    let json = JSON.stringify(object);
                    xhr.open("PUT", "/api/code/update/" + codeId, false);
                    xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                    xhr.send(json);
                }
            }
        }
    </script>
</head>
<body>
<div id="codeObject" th:value="${Code}" onmousedown="return false">
    <span id="load_date" class="date" th:text="${Code.getDate()}"></span>
    <br>
    <div th:if="${Code.getViews()} ge 0 or ${Code.getTime()} gt 0">
        <div th:if="${Code.isRestrictedByViews()}">
            <br>
            <span id="views_restriction">
            <u>[[${Code.getViews()}]]</u> more views allowed
            </span>
            <br>
        </div>
        <div th:if="${Code.isRestrictedByTime()}">
            <br>
            <span id="time_restriction">
            The code will be available for <u id="time">[[${Code.getTime()}]]</u> seconds
            </span>
            <br>
        </div>
    </div>
    <pre id="code_snippet" class="code">
        <code id="text" th:text="${Code.getCode()}"></code>
    </pre>
</div>
<br>
<br>
<form method="get">
    <button type="submit" formaction="/">< Home Page</button>
</form>
</body>
</html>