html {
    background: dimgrey;
}

.date {
    display: inline-block;
    color: springgreen;
}

#code_snippet {
    border-radius: 5px;
    display: inline-block;
    background-color: lightgray;
    border: 1px solid dimgrey;
    padding: 10px;
    margin: auto;
}

#code_text {
    height: 300px;
    width: 550px;
    overflow-y: auto;
}